@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --prim-color: rgb(239, 79, 95);
  --light-text: rgb(156, 156, 156);
  --bg-light: #f7f7f7;
  --black-color: rgb(28, 28, 28);
  --white-color: #fff;
  --bg-color: rgb(54, 54, 54);
  --Dancing-font: "Dancing Script", serif;
  --montserrant-font: "Montserrat", sans-serif;
  --transition: 0.3s;
  --transition2: 0.6s;
}

/* /* Basic Styling */

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 12%;
  gap: 50px;
}

.Section_Image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  position: relative;
}

.Section_Image img {
  width: 100%;
  height: 100%;
}

.Section_title {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9;
}

.Section_title h2 {
  font-size: 2.3rem !important;
  font-weight: 400;
  color: var(--black-color);
}

.Section_title p {
  font-size: 1.1rem;
  color: var(--pg-color);
  font-weight: 300;
  letter-spacing: 0.5px;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.dark_nav .logo a,
.dark_nav .menu li i,
.dark_nav .menu li a {
  color: var(--black-color);
}

.dark_nav .menu li:hover span {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark_nav .more_menu:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark_shadow {
  background-color: rgba(0, 0, 0, 0.2);
}

.sticky_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
}

.sticky_menu {
  color: var(--black-color) !important;
}

nav .search_wrapper {
  display: none;
  margin: 0;
}

.sticky_search_wrapper {
  display: flex !important;
}

.logo a {
  font-size: 0.9rem;
  color: var(--white-color);
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu li a {
  color: var(--white-color);
  font-weight: 300;
  font-size: 1.1rem;
}

.bars {
  display: none;
}

.Sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0vh;
  background-color: var(--white-color);
  z-index: 9999;
  overflow: hidden;
  transition: var(--transition2);
}

.Sidebar_Top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.Sidebar_Image {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sidebar_Image a img {
  width: 100%;
  height: 100%;
}

#hide_sidebar {
  font-size: 1.8rem;
  font-weight: 600;
}

.Sidebar_menu {
  padding: 8% 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Sidebar_menu li a {
  color: #696969;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  transition: var(--transition);
}

.Sidebar_menu li a:hover {
  color: rgb(28, 28, 28);
}

/* Header */

header {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 12%;
  background-image: url("Image/zomato_banner.avif");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.hero_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Hero_Image {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero_Image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero_content h1 {
  color: var(--white-color);
  font-weight: 400;
  font-size: 2rem;
  padding-top: 30px;
}

.search_wrapper {
  width: 50%;
  display: flex;
  align-content: center;
  margin-top: 30px;
}

.search_wrapper_icon {
  width: 70px;
  font-size: 1.2rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search_wrapper_icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 25%;
  width: 2px;
  height: 30px;
  background-color: rgb(207, 207, 207);
}

.search_cate {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: 10px;
}

.search_box {
  width: 35%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border-radius: 20px;
  position: relative;
}

.search_box {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border-radius: 20px;
  position: relative;
}

.search_box a {
  color: var(--black-color);
}

.search_box i {
  transition: var(--transition);
  font-size: 1.3rem;
}

.Search_Content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Search_Content div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search_box:hover .ri-arrow-down-s-fill {
  transform: rotate(180deg);
}

.input_box {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
}

.input_box input {
  width: 100%;
  height: 100%;
  padding-left: 2%;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 8px;
}

.search_dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  width: 300px;
  overflow: hidden;
  background-color: var(--bg-light);
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transition: var(--transition2);
}

.search_box:hover .search_dropdown {
  top: 105%;
  opacity: 1 !important;
  height: 100px;
}

.search_dropdown li a {
  width: 100%;
  padding: 1.8rem 1.8rem 1.8rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

/* location_info */

.location_info p:nth-child(1) {
  color: var(--prim-color);
  font-size: 1rem;
  text-transform: capitalize;
}

.location_info p {
  color: var(--light-text);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}

/* Login Form */

#agreement {
  font-size: 14px;
  text-align: left;
  margin-bottom: 12px;
}

/* Model Form */

.ModelFrom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999 !important;
  display: none;
}

.ModelFrom:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: -1;
}

.modal {
  background-color: var(--white-color);
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.modal-header h2 {
  font-size: 2rem;
  color: var(--black-color);
  margin: 0;
  font-weight: 500;
}

.close-btn {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
}

.modal-body {
  padding: 16px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.input-group input {
  font-size: 1.2rem;
  font-weight: 300;
}

select {
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color) !important;
  border: none;
  background: none;
  padding-left: 10px;
}

.flag-icon {
  background-color: #f5f5f5;
  border-right: 1px solid #dddd;
  font-size: 1.2rem;
}

.phone-input {
  width: 80%;
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 1.2rem;
  outline: none;
}

.otp-btn {
  background: border-box rgb(239, 79, 95);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  position: relative;
}

.separator:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border: 0.5px solid rgb(232, 232, 232);
}

.separator span {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  z-index: 9;
  padding: 8px;
  color: #aaa;
  background-color: var(--white-color);
}

.email-btn img {
  width: 25px;
}

.email-btn,
.google-btn {
  background-color: transparent;
  border: 2px solid #ddd;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.email-btn .icon,
.google-btn .icon {
  height: 28px;
  width: 28px;
  margin-right: 8px;
}

.google-btn .icon img {
  width: 100%;
  height: 100%;
}

.modal-footer {
  padding: 16px;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
  color: #555;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer p {
  font-size: 1.1rem;
  color: var(--black-color);
}

.modal-footer a {
  font-size: 1rem;
  color: var(--prim-color);
  text-decoration: none;
}

/* Product Wrap */

.Product_Wrap {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.Product_Wrap a {
  width: 100%;
}

.Product_Card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 1.2rem;
  overflow: hidden;
  transition: var(--transition);
}

.Product_Image {
  height: 200px;
  width: 100%;
}

.Product_Image img {
  object-fit: cover;
}

.Product_Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 0px 0px 1.2rem 1.2rem;
  padding: 30px;
  gap: 8px;
}

.Product_Content p:nth-child(1) {
  font-size: 1.2rem;
  color: var(--black-color) !important;
}

.Product_Content p:nth-child(2) {
  color: rgb(79, 79, 9);
  font-size: 1rem;
  text-transform: capitalize;
}

.Product_Card:hover {
  transform: scale(1.09);
}

.Collections {
  align-items: flex-start;
  flex-direction: column;
}

.Collections_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  gap: 30px;
}

.Collections_title h6 {
  color: var(--black-color);
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: capitalize;
}

.Collections_title span {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--prim-color);
  text-transform: capitalize;
  cursor: pointer;
}

.Collections_Wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  place-content: center;
  gap: 10px;
}
